.choiceHero {
  margin-top: 0;
  background-image: url("https://images.unsplash.com/photo-1516307365426-bea591f05011?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1041&q=80");
  position: relative;
  height: 30vh;
  background-repeat: no-repeat;
  background-size: cover;
}

.choiceMessage {
  text-align: center;
  padding: 2em;
}
