.mainAbout {
  margin-top: 0;
  background-image: url("https://images.unsplash.com/photo-1567942712661-82b9b407abbf?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1267&q=80");
  position: relative;
  height: 30vh;
  background-repeat: no-repeat;
  background-size: cover;
}

.title {
  text-align: center;
  background-color: transparent;
  margin-top: 0vh;
  font-size: 2em;
}

.pBody {
  margin: 0;
  margin-top: 10vh;
  text-align: center;
  font-size: 2em;
}
.message {
  margin-top: 10vh;
  text-align: center;
  font-size: 2em;
}

.companies {
  margin: 0;
  background-color:orange;
  padding: 1vh;
  margin-top: 25vh;
  text-align: center;
  color: white;
  font-size: 2em;
}

.title2 {
  margin-top: 10vh;
  background-color: orange;
  padding: 1vh;
  color: white;
  text-align: center;
  font-size: 2em;
}
