.mainAbout {
  background-color: black;
  margin-top: 0;
}

.title {
  background-image: url("https://images.unsplash.com/photo-1558970439-add78fc68990?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=879&q=80");
  position: relative;
  height: 30vh;
  background-repeat: no-repeat;
  background-size: cover;
}

.body {
  height: 200vh;
}

.p.body {
  margin: 0;
  margin-top: 10vh;
}
.message {
  margin-top: 30vh;
}

.companies{
  margin: 0;
  margin-top: 10vh;
  background-color:#3700b3;
  padding: 1vh;
  margin-top: 20vh;
}

.title2 {
  margin-top: 30vh;
  background-color:#3700b3;
  padding: 1vh;
  margin-top: 40vh;
}
