nav ul {
  text-align: center;
  display: flex;
  list-style-type: none;
  justify-content: space-between;
  background-color: black;
  margin-bottom: 0;
  margin-top: 0;
  padding-right: 6vh;
  padding-left: 6vh;
}

a {
  text-decoration: none;
  display: block;
  padding: 8px;
  color: white;
}

.isActiveLink {
  text-transform: uppercase;
}
