nav {
  background-color: hotpink;
  text-align: center;
  display: flex;
  list-style-type: none;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

li {
  align-items: center;
  float: left;
}

a {
  text-decoration: none;
  display: block;
  padding: 8px;
}
