.Header {
  color: white;
  font-family: 'Sriracha', cursive;
  margin-top: 5em;
  padding: 20px;
}

.main-login {
  border: thin solid black;
  height: 30vh;
  margin-top: 5vh;
  text-align: center;
}

input {
  font-family: 'Sriracha', cursive;
  margin-bottom: 20px;
  margin-top: 10px;
  padding: 20px;
  width: 50vw;
}

button {
  background-color: black;
  opacity: 0.6;
  width: 30vw;
  height: 10vw;
}

.container {
  margin: 0 auto;
  width: 100%;
}
