.Header {
  margin-top: 5em;
  padding: 20px;
  font-family: 'Sriracha', cursive;
  color: white;
}

.main-login {
  height: 30vh;
  border: thin solid black;
  margin-top: 5vh;
  text-align: center;
}

input {
  width: 50vw;
  padding: 20px;
  margin-bottom: 20px;
  margin-top: 10px;
  font-family: 'Sriracha', cursive;
}

input::placeholder {
  color:;
}

button {
  width: 30vw;
  height: 10vw;
  background-color: black;
  opacity: 0.6
}

.container {
  margin: 0 auto;
  width: 100%;
}
